.container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
  }

.card {
    background-color: white;  
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h2 {
    
    float: left;
    margin: 0px; 
    font-size: 45px;
}

h4 {
   text-align: right;
   margin: 8px;
}

header {
    background-color: black;
    color: white;
}

#teamLinks {
    text-align: center;
}

.icon {
    width: 35px;
    padding: 4px;
}

textarea {
    resize: none;
    
}