body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
    background-color: rgba(255, 255, 255, 0);
  }

.container-mainTakeOver{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;  
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

h2 {
    float: left;
    margin: 0px; 
    font-size: 45px;
}

h4 {
   text-align: right;
   margin: 8px;
}

header {
    background-color: black;
    color: white;
}


.headerTakeOver {
    background-color: rgba(255, 255, 255, 0);
}

#teamLinks {
    clear: both;
    text-align: center;
}

.icon {
    width: 35px;
    padding: 4px;
}

textarea {
    resize: none;   
}

h5 {
    text-align: center;
    margin: 4px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content div {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}

